@use "../global" as *;

.hamburger {
  background-color: $black;
  width: rem(45);
  height: rem(45);
  border-radius: 100%;
  padding-top: rem(4);
  
}

.hamburger span {
  width: rem(20);
  height: rem(2);
  background-color: #E2E2E2;
  display: block;
  margin: 0 auto;
  margin-top: rem(7);
  transition: .3s;
} 

.hamburger.open span:nth-child(1) {
  transform: translate(-1px,11px) rotate(135deg);
}

.hamburger.open span:nth-child(2) {
  display: none;
}

.hamburger.open span:nth-child(3) {
  transform: translate(-1px,2px) rotate(-135deg);
}