@use "../global" as *;

.kon__img {
  @include mq(md) {
  width: 80%;
  }
}

.kon__img img {
  aspect-ratio: 345/251;
  width: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 540/393;
    height: 100%;
  }
}

.kon-title__box {
  text-align: right;
  margin-top: rem(22);
  padding-right: rem(17);
  @include mq(md) {
    margin-top: 0;
    padding-right: rem(131);
  }
}

.kon__title {
  writing-mode: vertical-rl;
  text-align: left;
  display: inline-block;
}

.kon-title h3 {
  font-size: rem(24);
  line-height: calc(32/24);
  letter-spacing: rem(9);
  font-weight: $regular;
}

.kon-title h3:nth-child(n+2) {
  margin-right: rem(35);
  @include mq(md) {
    margin-right: rem(91);
  }
}

.kon-text {
  background-color: $black;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  @include mq(md) {
    margin-left: 0;
    margin-right: 0;
  }
}

.kon__text p {
  font-size: rem(16);
  line-height: calc(36/16);
  color: $gray;
  padding: rem(12) rem(15);
  letter-spacing: rem(-2);
  font-weight: $regular;
  @include mq(md) {
    padding: rem(15) rem(21) rem(13);
  }
}