@use "../global" as *;

.news-title__box {
  position: relative;
  @include mq(md) {
    display: flex;
    align-items: center;
  }
}


.news-title__box::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-width: rem(8) 0 rem(8) rem(15);
  border-color: transparent transparent transparent #E3E3E3;
  left: rem(15);
  top: rem(15);
  transition: .3s;
  @include mq(md) {
    border-width: rem(10) 0 rem(10) rem(24);
    left: rem(40);
    top: rem(22);
  }
}

.news-title__box.close::before {
  transform: rotate(90deg);
}


.news-item:nth-child(n+2) {
  margin-top: rem(11);
  @include mq(md) {
    margin-top: rem(20);
  }
}


.news-title__box {
  background-color: $gord;
  padding-top: rem(3);
  padding-bottom: rem(7);
  padding-left: rem(47);
  @include mq(md) {
    padding-top: rem(13);
    padding-bottom: rem(11);
    padding-left: rem(73);
  }
}

.news-title__box time {
  font-size: rem(14);
  line-height: calc(15/14);
  font-weight: $regular;
  color: $gray;
  @include mq(md) {
    font-size: rem(24);
    line-height: calc(36/24);
  }
}

.news-title__box h3 {
  font-size: rem(16);
  line-height: calc(15/16);
  font-weight: $regular;
  color: $gray;
  letter-spacing: rem(-2);
  @include mq(md) {
    font-size: rem(24);
    line-height: calc(36/24);
    margin-left: rem(28);
  }
}

.news-text__box {
  display: none;
  border: rem(1) solid #707070;
  padding: rem(20) rem(20) rem(34);
  background-color: #FFFFFF;
  @include mq(md) {
    padding: rem(29) rem(40) rem(34);
  }
}

.news-text__box p {
  font-size: rem(16);
  line-height: calc(21/16);
  font-weight: $regular;
  @include mq(md) {
    line-height: calc(36/16);
    letter-spacing: rem(-2);
  }
}

