@use "../global" as *;

.cafemenu-top {
  font-size: rem(18);
  line-height: calc(24/18);
  font-family: $title-font-family;
  color: $sub;
  padding-left: rem(10);
  @include mq(md) {
    font-size: rem(36);
    line-height: calc(48/36);
    padding-left: rem(80);
  }
}