@use "../global" as *;

.contact-text {
  font-size: rem(14);
  line-height: calc(19/14);
  font-weight: $medium;
  color: #502323;
  letter-spacing: rem(-2);
  @include mq(md) {
    font-size: rem(18);
    line-height: calc(24/18);
  }
}

label {
  font-size: rem(14);
  line-height: calc(19/14);
  font-weight: $medium;
  color: #502323;
  @include mq(md) {
    font-size: rem(18);
    line-height: calc(24/18);
    padding-right: rem(10);
  }
}


input {
  background-color: $white;
  width: rem(200);
  height: rem(30);
  margin-top: rem(6);
  border: rem(1) solid #707070;
  @include mq(md) {
    width: rem(500);
    height: rem(40);
    margin-top: 0;
  }
}

textarea {
  background-color: $white;
  width: rem(200);
  height: rem(80);
  margin-top: rem(8);
  border: rem(1) solid #707070;
  @include mq(md) {
    width: rem(500);
    height: rem(170);
    margin-top: 0;
  }
}