@use "../global" as *;

.hamburger {
  background-color: $main;
  width: rem(70);
  height: rem(70);
  margin-right: rem(-10);
  transition: .3s;
}

.hamburger p {
  text-align: center;
  color: $white;
  font-size: rem(14);
  font-family: $title-font-family;
  line-height: calc(19/14);
  margin-top: rem(8);
}

.hamburger span {
  display: block;
  width: rem(28);
  height: rem(3);
  background-color: $white;
  transition: .3s;
  margin: 0 auto;
}

.hamburger span:nth-of-type(1) {
  margin-top: rem(6);
}

.hamburger span:nth-of-type(2) {
  margin: rem(8) rem(21);
}



.hamburger.open span:nth-of-type(1) {
  transform:translate(1px,12px) rotate(45deg);

}

.hamburger.open span:nth-of-type(2) {
  display: none;
}

.hamburger.open span:nth-of-type(3) {
  transform:translate(1px,9px) rotate(-45deg);
}

