@use "../global" as *;

.lookrose-slider {
  @include mq(md) {
  margin: 0 auto;
  }
}
.lookrose-img img {
  aspect-ratio: 300/184.83;
  width: 100%;
  object-fit: cover;
  @include mq(md) {
    aspect-ratio: 870/536;
    width: 60vw;
  }
}


.lookrose-slider .slick-slide {
  @include mq(md) {
	transform: scale(0.8);
	transition: all .5s;
	opacity: 0.5;
  }
}

.lookrose-slider .slick-slide.slick-center{
  @include mq(md) {
	transform: scale(1);
	opacity: 1;
  }
}

.slick-dots {
	position: relative;
	z-index: 3;
  text-align:center;
	margin:rem(10) 0 0 0;
  @include mq(md) {
    margin-top: rem(15);
  }
}

.slick-dots li {
  display:inline-block;
	margin:0 2px;
  @include mq(md) {
    margin:0 4px;
  }
}

.slick-dots button {
    color: transparent;
    outline: none;
    width:8px;
    height:8px;
    display:block;
    border: rem(1) solid #707070;
    border-radius:50%;
    background:$white;
    @include mq(md) {
      width: rem(15);
      height:rem(15);
    }
}

.slick-dots .slick-active button{
    background:#707070;
}