@use "../global" as *;


.section-top-wrapper {
  text-align: center;
}

.section-title {
  font-size: rem(24);
  line-height: calc(32/24);
  font-weight: $regular;
  font-family: $title-font-family;
  color: $sub;
  display: inline-block;
  @include mq(md) {
  font-size: rem(36);
  line-height: calc(48/36);
  }
}


.section-title span {
  font-size: rem(14);
  line-height: calc(19/14);
  font-weight: $demi-bold;
  font-family: $base-font-family;
  color: $text;
  display: block;
  text-align: center;
  border-top: rem(5) solid $main;
  @include mq(md) {
  font-size: rem(16);
  line-height: calc(21/16);
  border-top: rem(8) solid $main;
  }
}